[user]
	email = stilia.johny@gmail.com
	name = John Stilia
	signingkey = cv25519
[http]
        sslVerify = true
[pull]
	recurseSubmodules = true
	initSubmodules = true
	ff = only
[checkout]
	recurseSubmodules = true
	initSubmodules = true

[alias]
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	up = pull --recurse-submodules
	co = checkout --recurse-submodules
	hooks = !\"~/.githooks/bin/githooks\"
	branches = branch --sort=-committerdate --format='%(HEAD)%(color:yellow)%(refname:short) | %(color:bold green)%(committerdate:relative) | %(color:blue)%(subject)%(color:reset)' --color=always
	st = status -sb
	ll = log --oneline
	last = log -1 HEAD --stat
	gl = config --global -l
	se = !git rev-list --all | xargs git grep -F

[merge]
        tool = vimdiff

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[githooks]
	disable = true
	installDir = ~.githooks
	runner = ~.githooks/release/base-template.sh
	cloneUrl = https://github.com/stiliajohny/githooks.git
	cloneBranch = master
	useCoreHooksPath = false

[init]
	templateDir = ~/.githooks/templates

[githooks "autoupdate"]
	enabled = true

[help]
	autocorrect = 20
